@use "./variables" as *;
@use "./mixins" as *;

@import "bootstrap/scss/bootstrap";

@import "primeicons/primeicons.css";
@import "primereact/resources/themes/lara-light-purple/theme.css";

.content-section {
	padding: 70px 0;

	&.bg {
		background-color: $color5;
	}
}

.p-datatable-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 1px;

	th {
		background-color: $color1-op-30;
	}

	@media (max-width: 768px) {
		thead {
			display: none;
		}

		tbody,
		tr {
			display: block;
			width: 100%;
		}

		tr {
			border: 1px solid $color1-op-30;
			@include borderRadius(5px);
			@include shadow(box, 0 2px 5px $color4-op-70);
			margin-bottom: 15px;
			padding:10px;
			background-color: white;
		}

		td {
			display: block;
			text-align: right;
			padding-left: 50%;
			position: relative;

			&.index{
				display: none;
			}
		}

		td::before {
			content: attr(class);
			position: absolute;
			left: 10px;
			font-weight: bold;
			color: $color4-op-70;
		}

		td.p-selection-column::before{
			content: "Select";
		}

		
	}
}


.form-control.p-multiselect{
	display: inline-flex !important;
	padding:0;

	.p-placeholder{
		font-size:1.2rem;
	}
}


.nav-link.active{
	font-weight: 700;
}

