@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.topbar{
    background-color:$color1-op-70;
    color:$color4;
    padding: 10px 0;

    .container{
        @include flexbox($ai: center);
    }

    .slogan{
        display: none;

        @media(min-width: 992px) {
            display: block;
        }

    }
}